/* do I css or bootstrap? or both? */

* {
    box-sizing: border-box;
}

/* image for the background of the page */
body {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 25px;
    background-image: url(../../assets/images/IMG_0428.png);
}

h1 {
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
}

/* must be a light color because of the dark image */
#container {
    text-align: center;
    margin: 10px 15%;
    padding: 30px;
    background: white

}

.main-content {
    padding: 5% 0;
}

/* red button with blue borders */
.btn {
    padding: 15px 75px;
    font-size: 20px;
    background: red;
    border: 3px solid blue;
}